body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* icon styles */

.search-cart{
    font-size: 24px;
    padding-right: 35px;
    position: relative;
    top: 6px;
}

.arrow{
    padding-left: 5px;
    position: relative;
    top: 5px;
    font-size: 20px;
}

.fill{
color: orange;
}

.unfill{
    color: rgba(119, 136, 153, 0.795);
}

.seemore-button{
    text-decoration: none;
    color:#E02C6DDE;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 1050px;
    top: 20px;
}

/* icon styles */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .leftside-of-navbar h1{
    font-size: 34px;
    pa
}

.navbar .rightside-of-navbar a{
    text-decoration: none;
    padding-right: 35px;
    color: black;
    font-weight: 700;
}



/* top article css starts */

.top-article{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
}

.top-article .top-article-decrip h1{
    font-size: 55px;
    margin: 0;
    
}

.top-article .top-article-decrip p{
line-height: 1.4;
}

.top-article-img{
    display: flex;
    justify-content: center;
    
}

.button{
    padding: 12px 26px 12px 26px;
    background-color: #E02C6D;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 15px;
    transition: transform 0.50s, background-color 0.50s;
    display: inline-block;
}

.button:hover{
transform: scale(1.1);
background-color: #ff005d;
}

/* top article css ends  */


/* middle card section css starts */

.middle-card-section h1{
    font-size: 30px;
    text-align: center;
}

.product-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
}

.card{
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 10px 40px #888888cb;
    transition: transform 0.50s;
}

.card:hover{
    transform: scale(1.1);
}

.ratings{
    display: flex;
    align-items: center;
    position: relative;
}

.ratings p{
    margin-left: 20px;
}

/* middle card section css ends  */

/* end section css starts */

.end-section{
    max-width: 1200px;
    margin: 0 auto; 
    margin-bottom: 200px; 
    margin-top: 200px;
}

.end-section-artcicle{
    display: flex;
}

.end-article-description{
    margin-left: 70px;
}

.end-section-artcicle .end-article-description h1{
    font-size: 50px;
}

/* end section css ends  */

footer{
    height: 200px;
    background-color: rgb(21, 21, 70);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-heading{
    font-size: 30px;
    text-align: center;
}

#footer-p{
    text-align: center;
}

#footer-icons{
    display: flex;
    justify-content: center ;
}

.footer-icon{
    padding-left: 20px;
    font-size: 24px;
}


/* responsive css */

@media screen and (max-width:688px) {
html, body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

    .rightside-of-navbar{
        display: none;
    }

    .leftside-of-navbar{
        margin: auto;
        }

.top-section-heading{
    width: 350px;
    padding-bottom: 0;
}

        .top-article{
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
        }

        .top-article-decrip{
            order: 2;
        }

        .top-article-decrip p{
            width: 340px;
            padding-right: 20px;
            margin: 0;
            margin-top: 30px;
        }

        .top-article-decrip a{
            position: relative;
            top: 30px;
        }

        .top-article-img{
            width: 60%;
            order: 1;
            margin-left: 0;
            position: none;
            margin: 0;
            position: relative;
            right: 50px;
            bottom: 100px;
        }

        .half-width{
            width: 100%;
        }

    .product-cards{
        grid-template-columns: 1fr ;
    }

    .seemore-button{
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .end-section-artcicle{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .end-article-description{
        margin-left: 0;
    }

    footer{
        width: 100%;
    }
}